.appli-btn button{
    margin-right: 26px;
    display: inline-block;
    width: 200px;
    text-align: center;
    background: #af1f39;
    color: #FFFFff;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.list-lined>.hide-item{
	display: none;
}
@media screen and (max-width: 950px){
	.appli-btn button{
		width: 120px;
	}
	.service_warp .application-row .col-lg-2, .service_warp .application-row .col-lg-9{
		width: 100%;
		padding: 9px 0;
	}
	.application-row .list-lined>.list-item>.list-item-header, .application-row .list-lined>.list-item>.list-item-body{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		display: block;
	}
	.app-btn{
		display: block;
		width: 100px;
		margin: 9px 0;
	}
	.service_warp .app-row-1 .col-lg-1{
		width: 100%;
		padding: 9px 0;
	}
	.service_warp .app-row-1 .col-lg-3{
		width: 50%;
		margin-left: 0;
	}
	.service_warp .app-row-1-1 .col-lg-3{
		width: 100%;
		margin-left: 0;
	}
	.service_warp .app-row-1-1 .col-lg-3 p{
		margin-bottom: 0;
	}
	.service_warp .app-row-2 .col-lg-1, .service_warp .app-row-2 .col-lg-3{
		width: 100%;
		margin-bottom: 1em;
	}
	.service_warp .app-row-2 .col-lg-2{
		width: 33.333333%;
	}
	.service_warp .app-row-3 .col-lg-3, .service_warp .app-row-3 .col-lg-4{
		width: 100%;
		margin-left: 0;
	}
	.service_warp .app-row-3 .col-lg-3 p, .service_warp .app-row-3 .col-lg-4 p{
		margin-bottom: 1em;
	}
	.service_warp .app-row-4 .col-lg-1, .service_warp .app-row-5 .col-lg-1{
		width: 100%;
		margin-bottom: 1em;
	}
	.service_warp .app-row-4 .col-lg-8{
		width: 100%;
		margin-left: 0;
	}
	.service_warp .app-row-5 .col-lg-11{
		width: 100%;
		margin-left: 0;
	}
	.service_warp .app-row-5 .col-lg-11 .list-inline>.list-item{
		width: 46%;
	}
}
